<%= form_with(model: @comment_room, class: 'js-form', local: false) do |form| %>
  <% if @comment_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_room.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, placeholder: 'コメント入力' %>
  </div>

  <div class="actions">
    <%= form.submit '登録', class: 'btn btn-light' %>
  </div>
<% end %>