<p id="notice"><%= notice %></p>

<h1>チャットルーム🗣️</h1>

  <table>
    <tbody>
      <tr>
      <% @comment_rooms.each do |comment_room| %>
        <td><%= comment_room.content %></td>
        <td><%= current_user.name %></td>
        <td><%= comment_room.created_at.strftime("%m/%d %H:%M") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>  

  <%= form_with(model: @comment_room, local: false, class: 'js-form') do |f| %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>

<%= link_to '戻る', group_path(current_user.group_id) %>