<h2>チャットルーム🗣️</h2>

<table class="table-chat">
  <% @comment_rooms.each do |comment_room| %>
    <tr>
    <td><%= comment_room.content %></td>
    <td><%= comment_room.created_at.strftime("%m/%d %H:%M") %></td>
    <td><%= link_to '編集', edit_comment_room_path(comment_room.id), class: "link-class" %></td>
    <td><%= link_to '削除', comment_room, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "link-class" %></td>
    </tr>
  <% end %>
</table>

<div class="field">
  <%= form_with(model: @comment_room, local: false, class: 'js-form') do |f| %>
    <%= f.text_field :content, placeholder: 'チャット/名前入力' %>
    <%= f.submit '送信', class: 'btn btn-light' %>
  <% end %>
</div>

<div class="btm-buttons">
  <%= link_to '戻る', group_path(@group.id), class: 'btn btn-light' %>
</div>