<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="comment_room-text">
    <p><strong>内容</strong>：<%= @comment_room.content %></p>
  </div>

  <p>コメント一覧（ここから下の内容が重要）</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, comment_room: @comment_room } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, comment_room: @comment_room } %>

  <%= link_to '編集', edit_comment_room_path(@comment_room) %> |
  <%= link_to '戻る', comment_rooms_path %>
</div>