<%= form_with(model: [@animal, @animal_management], url: animal_animal_managements_path, local: true) do |form| %>

  <% if @animal_management.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@animal_management.errors.count, "件のエラー") %></h5>
      <ul>
        <% @animal_management.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_field :recorded_on %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content, placeholder: '食事、トイレの回数など(例:朝食:ドライフード20g)' %>
  </div>

  <div class="field">
    <%= form.label :体温 %>
    <%= form.number_field :temprature, step: '0.1', placeholder: '体温の入力' %>
  </div>

  <div class="actions">
    <%= form.submit '登録', class: 'btn btn-light' %>
  </div>

<% end %>