<%= form_with(model: [@animal, @animal_management], url: animal_animal_managements_path, method: :patch, local: true) do |form| %>

    <div class="field">
      <%= form.label :日付 %>
      <%= form.date_field :recorded_on %>
    </div>
  
    <div class="field">
      <%= form.label :内容 %>
      <%= form.text_area :content %>
    </div>

    <div class="field">
      <%= form.label :体温 %>
      <%= form.number_field :temprature, step: '0.1' %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  
  <% end %>