<%= form_with(model: [@animal, @animal_management], url: animal_animal_management_path, local: true) do |form| %>

  <h2>カルテ編集</h2>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_field :recorded_on %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :体温 %>
    <%= form.number_field :temprature, step: '0.1' %>
  </div>

  <div class="actions">
    <%= form.submit '更新', class: 'btn btn-light' %>
  </div>
<% end %>

<div class="btm-buttons">
  <%= link_to '戻る', animal_path(@animal_management.animal_id), class: 'btn btn-light' %>
</div>