<%= form_with(model: @group, local: true) do |form| %>

  <% if @group.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5>
        <i class="icon fa fa-ban"></i>
        <%= pluralize(@group.errors.count, "error") %> prohibited this team from being saved:
      </h5>
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :グループ名 %>
    <%= form.text_field :name, placeholder: 'グループ名入力' %>
    <%= form.submit '登録', class: 'btn btn-light' %>
  </div>
<% end %>
<div class="btm-buttons">
  <%= link_to '戻る', groups_path, class: 'btn btn-light' %>
</div>