<%= form_with(model: @group, local: true) do |form| %>

  <% if @group.errors.any? %>
    <h5><%= pluralize(@group.errors.count, "件のエラー") %></h5>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :グループ名 %>
    <%= form.text_field :name, placeholder: 'グループ名入力' %>
    <%= form.submit '登録', class: 'btn btn-light' %>
  </div>
<% end %>
<div class="btm-buttons">
  <%= link_to '戻る', groups_path, class: 'btn btn-light' %>
</div>