<% if current_user.try(:admin?) %>
  <h2>グループ一覧 管理者</h2>
<% else %>
  <h2>グループ一覧🐾</h2>
<% end %>

<div class="group-list">
  <table>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group, class: "link-class" %></td>
          <% if current_user.try(:admin?) %>
            <td><%= link_to '編集', edit_group_path(group.id), class: "link-class" %></td>
            <td><%= link_to '削除', group, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "link-class" %></td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>
<br>
<div class="btm-buttons">
  <%= link_to 'マイページ', user_path(current_user.id), class: 'btn btn-light' %>
  <%= link_to 'グループ設立', new_group_path, class: 'btn btn-light' %>
</div>