<% if current_user.try(:admin?) %>
  <h1>グループ一覧 管理者</h1>
<% else %>
  <h1>グループ一覧</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'マイページ', user_path(current_user.id) %>

<%= link_to 'グループ設立', new_group_path %>