<p id="notice"><%= notice %></p>


<h1><%= @group.name %></h1>

<!--
<p>
<strong>γƒ΅γƒ³γƒγƒΌ</strong>
<% @group.users.each do |user| %>
  <%= user.email %>
<% end %>
</p> -->

<p><strong>ε¤©δ½Ώγγ΅πΎ</strong></p>

<p>
<% @group.animals.each do |animal| %>
  <%= link_to animal.name, animal_path(:id) %>
<% end %>
</p>
<br>

<%= link_to 'ε¤©δ½Ώη™»ι²', new_animal_path %>
<!-- <%= link_to 'η·¨ι›†', edit_group_path(:id) %> -->
<%= link_to 'ζ»γ‚‹', groups_path %>

  </div>
</div>