<p id="notice"><%= notice %></p>


<h1><%= @group.name %></h1>


<p>
<strong>メンバー</strong>
<% @group.users.each do |user| %>
  <%= user.email %>
<% end %>
</p>

<%= link_to '編集', edit_group_path(:id) %>
<%= link_to '戻る', groups_path %>

  </div>
</div>