<%= form_with(model: @group, local: true) do |form| %>

  <div class="group-name">
    <h1><%= @group.name %></h1>
  </div>

  <div class="invite">
    <%= form.label :メンバー招待 %><br>
    <%= form.email_field :email %>
    <button type="submit" class="btn btn-light"><%= I18n.t('views.button.invite') %></button>
  </div>

  <div class="team-member">
    <table class="table">
      <tr>
        <h5><%= I18n.t('views.messages.team_members2') %></h5>
      </tr>
    </table>
    <table class="table">
      <tbody>
        <% @group.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= button_to "削除", remove_member_path(user_id: user.id), method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="angels">
    <h3>天使たち🐾</h3><br>
    <table>
      <% @group.animals.each do |animal| %>
        <tr><td><%= link_to animal.name, animal_path(animal) %></td></tr></h4>
      <% end %><br>
    </table>
  </div>
<% end %>

<div class="bottom">
  <%= link_to '天使登録', new_animal_path, class: 'btn btn-light' %>
  <%= link_to '予定確認', schedules_path(group_id: @group.id), class: 'btn btn-light' %>
  <%= link_to 'チャットルーム', comment_rooms_path(group_id: @group.id), class: 'btn btn-light' %>
  <%= link_to '戻る', groups_path, class: 'btn btn-light' %>
</div>