<h2><%= current_user.name %>のマイページ</h2>

<h4>所属グループ：<% if current_user.group %>
  <%= link_to current_user.group.name, group_path(current_user.group_id) %>
<% else %>
  所属していません
<% end %></h4>

<div class="team-member">
  <% if current_user.group %>
    <table class="table">
      <tr>
        <h5><%= "#{current_user.group.name}の" %><%= I18n.t('views.messages.team_members2') %></h5>
      </tr>
    </table>
    <table class="table">
      <% if current_user.group.users.present? %>
        <tbody>
          <% @user.group.users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <p>所属グループのメンバーはいません</p>
  <% end %>
</div>

<div class="btm-buttons">
  <%= link_to 'グループ一覧', groups_path, class: 'btn btn-light' %>
  <%= link_to '編集', edit_user_path(current_user.id), class: 'btn btn-light' %>
  <%= link_to I18n.t('views.button.delete'), user_path(current_user.id), method: :delete, data: { confirm: '退会しますか？' }, class: 'btn btn-sm btn-danger' %></td>
</div>