<p id="notice"><%= notice %></p>
  <h1>スケジュール詳細</h1>

  <table>
    <tr><td>日付：<%= @schedule.start_time.strftime("%Y/%m/%d") %></td></tr>
    <tr><td>内容：<%= @schedule.content %></td></tr>
  </table>  
<br>

<%=link_to '編集', edit_schedule_path(@schedule.id) %>
<%= link_to '削除', @schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to '戻る', schedules_path(group_id: current_user.group_id) %>