<%= form_with(model: @animal, local: true) do |form| %>

  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@animal.errors.count, "エラー") %> prohibited this animal from being saved:</h5>
      <ul>
        <% @animal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name, placeholder: '名前入力' %>
  </div>

  <div class="field">
    <%= form.label :性別 %> 
    <%= form.label :sex, 'メス♀', value: true %>
    <%= form.radio_button :sex, 'true' %>
    <%= form.label :sex, 'オス♂', value: false %>
    <%= form.radio_button :sex, 'false' %>
  </div>

  <div class="field">
    <%= form.label :'去勢/避妊' %> 
    <%= form.label :castration, '済', value: true %>
    <%= form.radio_button :castration, 'true' %>
    <%= form.label :castration, '未', value: false %>
    <%= form.radio_button :castration, 'false' %>
  </div>

  <div class="field">
    <%= form.label :写真 %>
    <%= form.file_field :picture %>
  </div>

  <div class="field">
    <%= form.label :'誕生日/保護日' %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :種類 %>
    <%= form.text_field :kinds, placeholder: '種類(例:雑種)' %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :information, placeholder: 'その他周知事項' %>
  </div>

  <div class="actions">
    <%= form.submit '登録', class: 'btn btn-light' %>
  </div>
<% end %>