<p id="notice"><%= notice %></p>

<h1><%= @animal.name %></h1>

<p>
<%= @animal.sex %>
</p>

<br>
<%= link_to '天使登録', new_animal_path %>
<!-- <%= link_to '編集', edit_animal_path(:id) %> -->
<%= link_to '戻る', groups_path %>

  </div>
</div>