<div class="animal-profile">
  <div style="float: center;">
    <%= image_tag @animal.picture_url %>
    <p>今日で保護して<%= Date.today - @animal.birthday %>目</p>
  </div>
    <%= @animal.name %>
    <%= @animal.sex ? 'メス♀' : 'オス♂' %>
    <br>
    <%= '去勢/避妊' %>:<%= @animal.castration ? '済' : '未' %>
    <br>
    <%= '誕生日'%>:<%= @animal.birthday.strftime("%Y/%m/%d") %>
    <%= @animal.kinds %>
    <br>
    <%= @animal.information %>
  </div>
  <div class="karte">
    <table>
      <% @animal.animal_managements.each do |animal| %>
        <tr><td><%= link_to animal.recorded_on, animal_animal_management_path(@animal.id, @animal.animal_management_ids) %></td></tr>
      <% end %>
    </table>
  </div>
<br>
<div class="btm-buttons">
  <%= link_to 'カルテ登録', new_animal_animal_management_path(animal_id: @animal.id), class: 'btn btn-light' %>
  <%= link_to '編集', edit_animal_path(@animal), class: 'btn btn-light' %>
  <%= link_to '削除', @animal, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
  <%= link_to '戻る', group_path(@animal.group_id), class: 'btn btn-light' %>
</div>